@import "tailwindcss";

body{
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;

}

html,body {
  scroll-behavior: smooth;
   scrollbar-width: thin;
   /* -ms-overflow-style: none; */
}

/* body::-webkit-scrollbar {
  display: none; /* Safari and Chrome 
} */



@font-face {
    font-family: lausanne-300;
    src: url(/fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: lausanne-500;
    src: url(/fonts/Lausanne-500.woff2);
}